<IfModule mod_rewrite.c>
    RewriteEngine on
    # if the filename is neither a file or a directory in this directory, the request is redirected to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [PT,L]
</IfModule>